*
{
	box-sizing: border-box;
}

body
{
	background-color: #DFDBE5;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23007af5' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	font-family: Arial;
}
h1
{
	color: #fff;
	font-size: 40px;
	border: none;
}
form
{
	background: #FFF;
	border-radius: 10px;
	box-sizing: border-box;
}

input
{
	color: #000;
	width: 90%;
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 17px;
	border: none;
	border-bottom: 2px solid #3147a2;
}
label
{
	width: 100%;
	margin: 10px;
	color: #000;
	font-size: 17px;
	border: none;
}
.header{
	background: #3147a2;
	color: #fff;
	padding: 1rem 0;
	position: fixed;
	text-align: center;
	font-size: 40px;
	left: 0;
	top: 0;
	right: 0;

}
.header a
{

	color: #fff;
	text-decoration: none;
	letter-spacing: 5px;
}
.logine
{
	padding: 15px;
	max-width: 400px;
	height: auto;
	margin: 10px auto;
	text-align: center;
}
#boton1
{
	background: #066bb1;
	color: #FFF;
	padding: 10px;
	border-radius: 5px;
}
#boton1:hover
{
	cursor: pointer;
	background-color: #13a0fb;
}
.main
{
	padding-top: 5rem;
}
img
{
	margin-top: 30px;
}